# RabbitMQ
# Lokaal (docker compose --profile local): RABBITMQ_HOST=rabbitmq, RABBITMQ_PORT=5672
# Gedeelde infra RabbitMQ: RABBITMQ_HOST=integrationproject-2526s2-dag01.westeurope.cloudapp.azure.com, RABBITMQ_PORT=30000
# Online (container-to-container via shared infra): RABBITMQ_HOST=rabbitmq_broker, RABBITMQ_PORT=5672
RABBITMQ_HOST=integrationproject-2526s2-dag01.westeurope.cloudapp.azure.com
RABBITMQ_PORT=30000
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/

# Salesforce
SF_INSTANCE_URL=https://yourorg.my.salesforce.com
SF_CLIENT_ID=your_client_id
SF_CLIENT_SECRET=your_client_secret
SF_REFRESH_TOKEN=your_refresh_token
SF_ACCESS_TOKEN=your_access_token
SF_API_VERSION=v60.0
SF_CALLBACK_URL=https://oauth.pstmn.io/v1/callback

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=crm_demo
MYSQL_USER=crm_user
MYSQL_PASSWORD=crm_pass